header{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 25px 80px;
}

.logo{
    width: 222px;
    height: 18px;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}

.gnb > ul{
    display: flex;
    gap: 60px;
}

li > a{
    font-family: 'NanumGothic';
    font-weight: 500;
}

.header_util{
    display: flex;
    gap: 10px;
}

.header_util > img{
    width: 20px;
    height: 20px;
    display: flex;
}

.search{
    width: 175px;
    height: 25px;
    border: 1px solid #929292;
    border-radius: 50px;
    background-image: url(../img/search_btn.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-left: 10px;
}

.header_util_m{
    display: none;
}

/* header end */

@media screen and (max-width:1040px){
    .gnb, 
    .header_util{
        display: none;
    }

    header{
        height: 50px;
        padding: 0 10px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header_nav{
        margin-top: 0;
    }

    .logo{
        width: 170px;
        height: 17px;
    }

    .header_util_m{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
    }
}
