:root {
  --swiper-navigation-color: #ffffff;
}

.sec_1{
    width: 100%;
}

.sec_1 > .swiper-slide img {
    width: 100%;
    height: auto;
}

.sec_1_t{
    display: none;
}

.sec_1_large_m{
    display: none;
}

.sec_1_m{
    display: none;
}

/* sec_1 end */

.sec_2{
    padding: 121px 380px;
}

.sec_2_inner{
    display: flex;
    justify-content: center;
    gap: 4.5vw;
}

.sec_2_inner > a{
    text-align: center;
    font-family: 'NanumGothic';
}

.sec_2_inner > a img{
    width: 120px;
    height: 120px;
    display: block;
    margin-bottom: 40px;
}

.mySwiper_sec_2{
    display: none;
}
/* sec_2 end */


.sec_3_tit{
    text-align: center;
    font-family: 'Lato';
}

.sec_3_tit > h1{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
}

.sec_3_tit > h2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.sec_3 .mySwiper_sec_3 > .swiper-wrapper{
    padding: 40px 100px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    box-sizing: border-box;
}

.sec_3 .swiper-slide img{
    width: 100%;
    height: auto;
}

.sec_3 .swiper-slide img:hover{
    opacity: 0.5;
}

.sec_3 .swiper-slide p:nth-child(2){
    margin-top: 10px;
    font-family: 'NanumGothic';
    font-weight: 500;
    font-size: 16px;
    color: #707070;
    line-height: 24px;
}

.sec_3 .swiper-slide p:nth-child(3){
    margin-top: 10px;
    font-family: 'NanumGothic';
    font-weight: 700;
    font-size: 16px;
}

.sec_3 .swiper-slide p:hover{
    text-decoration: underline;
}

.sec_3_more_btn{
    display: none;
}

/* sec_3 end */

.sec_4{
    margin-top: 80px;
}

.sec_4_tit{
    text-align: center;
    font-family: 'Lato';
}

.sec_4_tit > h1{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
}

.sec_4_tit > h2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.sec_4_con_wrap{
    padding: 40px 100px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
}

.sec_4_con > img{
    width: 100%;
    height: auto;
}

.sec_4_con > img:hover{
    opacity: 0.5;
}

.sec_4_con > p:nth-child(2){
    margin-top: 10px;
    font-family: 'NanumGothic';
    font-weight: 500;
    font-size: 16px;
    color: #707070;
    line-height: 24px;
}

.sec_4_con > p:nth-child(3){
    margin-top: 10px;
    font-family: 'NanumGothic';
    font-weight: 700;
    font-size: 16px;
}

.sec_4_con > p:hover{
    text-decoration: underline;
}

.sec_4_more_btn{
    display: none;
}

/* sec_4 end */

.sec_5{
    padding: 60px 0;
    position: relative;
}

.sec_5_bn_tit{
    font-family: 'NanumGothic';
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    white-space: nowrap;
    text-align: center;
}

.sec_5_bn_tit > h1{
    font-size: clamp(24px, 5vw, 70px);
    color: white;
}

.sec_5_bn_tit > a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2vw auto 0;
    width: clamp(154px, 10.8vw, 208px);
    height: clamp(30px, 2.6vw, 51px);
    background-color: black;
    color: white;
    font-size: clamp(14px, 1.3vw, 20px);
    border-radius: 50px;
}


.sec_5_t{
    display: none;
}

/* sec_5 end */

.mySwiper_sec_6{
    display: none;
}

.sec_6{
    padding: 200px 100px;
}

.sec_6_tit{
    text-align: center;
}

.sec_6_tit > h1{
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px; 
}

.sec_6_tit > h2{
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
}


.review_box{
    display: flex;
    justify-content: center;
    gap: 29px;
}

.sec_6 .con{
    width: 320px;
    height: auto;
    border: 2px solid #ECECEC;
    font-family: 'NanumGothic';
    flex: 0 0 320px;
}

 .sec_6 .con img:hover{
    opacity: 0.5;
}

.sec_6 .con hr{
    border: none;
    border-top: 2px solid #ECECEC;
}

.sec_6 .con > p:nth-child(2){
   margin: 10px 10px;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;      
   -webkit-box-orient: vertical;
   line-height: 1.6;
}


.sec_6 .con > a:nth-child(4){
   margin: 20px auto 10px 10px;
   font-size: 18px;
   font-weight: 700;
   text-decoration: none;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1;      
   -webkit-box-orient: vertical;
}

.sec_6 .con > a:hover{
    text-decoration: underline;
}


.sec_6 .con > p:nth-child(5){
    margin: 0 10px 19px 10px;
    color: #848181;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;      
    -webkit-box-orient: vertical;
}

/* sec_6 end */

.footer_line{
    color: #C8C8C8;
}

.footer_inner{
    margin: 50px auto;
    padding: 0 200px;
    
    color: #707070;
}

.top_info{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.top_info  h3{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.top_info li{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
}

.value{
    font-weight: 500;
    white-space: nowrap; 
}

.top_info ul{
    line-height: 1.5;
}

.img_info{
    margin-top: 86px;
}

.img_info img{
    width: 36px;
    height: 24px;
}

.img_info ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.img_info li{
    display: flex;
}

.link{
    margin-top: 46px;
    display: flex;
    justify-content: center;
}

.link a{
    color: #707070;
}

.link a::after{
    content: "|";
    padding-left:10px;
    padding-right: 10px;
}

.link a:last-child::after{
    content: "";
}

.copyright{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.sns{
    display: none;
}

.footer_line_2{
    display: none;
}

@media screen and (max-width:1800px){
     .sec_6 .con{
         flex: 0 0 300px;
     }

     .footer_inner{
        padding: 0 150px;
     }
}

@media screen and (max-width:1700px){
     .sec_6 .con{
        flex: 0 0 280px;
     }

     .sec_6 {
        padding: 160px 100px;
     }
}

@media screen and (max-width:1600px){
     .sec_6 .con{
        flex: 0 0 260px;
     }
}

@media screen and (max-width:1500px){
    .sec_6 .con{
        flex: 0 0 240px;
    }

    .top_info{
        gap: 60px;
        white-space: normal;
    }

    .footer_inner{
        padding: 0 100px;
     }

}

@media screen and (max-width:1400px) {
    .sec_3_con > p:nth-child(2){  
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .sec_4_con > p:nth-child(2){  
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .review_box{
        display: none;
    }

    .sec_6 {
        padding: 140px 24px;
    }

    .mySwiper_sec_6{
        display: block;
        overflow: visible; 
        width: 100%;
    }

    .sec_6 .swiper-slide{
        width: 280px;
        height: auto;
        border: 2px solid #ECECEC;
        font-family: 'NanumGothic';
        flex: 0 0 280px; 
    }

    .sec_6 .swiper-slide a > img:hover{
        opacity: 0.5;
    }

    .sec_6 .swiper-slide hr{
        border: none;
        border-top: 2px solid #ECECEC;
    }

    .sec_6 .swiper-slide > p:nth-child(2){
        margin: 10px 10px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;      
        -webkit-box-orient: vertical;
        line-height: 1.6;
    }

    .sec_6 .swiper-slide > a:nth-child(4){
        margin: 20px auto 10px 10px;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;      
        -webkit-box-orient: vertical;
    }

    .sec_6 .swiper-slide > a:hover{
        text-decoration: underline;
    }

    .sec_6 .swiper-slide > p:nth-child(5){
        margin: 0 10px 19px 10px;
        color: #848181;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;      
        -webkit-box-orient: vertical;
    }
}

@media screen and (max-width:1330px) {
    .footer_inner{
        padding: 0 80px;
    }

    .top_info{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        column-gap: 60px;
        row-gap: 40px;
        white-space: normal;
    }

    .img_info{
        display: none;
    }
}

@media screen and (max-width:1040px){
    .sec_1{
        display: none;
    }

    .sec_1_t{
        display: block;
    }

    .sec_2{
       display: none;
    }

    .mySwiper_sec_2{
        padding: 60px 5%;
        display: block;
        overflow: hidden;
    }

    .mySwiper_sec_2 .swiper-slide > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
        font-family: 'NanumGothic';
    }

    .mySwiper_sec_2 .swiper-slide > a img{
        width: 65%;
        margin-bottom: 40px;
    }

    .sec_3_more_btn{
        display: block;
        width: 280px;
        height: 38px;
        border: 1px solid black;
        font-family: 'Lato';
        font-weight: 500;
        font-size: 16px;
        border-radius: 5px;
        text-align: center;
        line-height: 33px;
        margin: 0 auto 30px;
    }

    .mySwiper_sec_3 .swiper-slide:nth-child(n+5){
        display: none;
    }

    .sec_3_tit > h1{
        font-size: 25px;
        font-weight: 700;
    }

    .sec_3_tit > h2{
        font-size: 15px;
        font-weight: 500;
    }

    .sec_3 .mySwiper_sec_3 .swiper-wrapper{
        padding: 40px 100px;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 40px;
    }

    .mySwiper_sec_3 .swiper-slide{
        width: 100%;
    }

    .sec_4_tit > h1{
        font-size: 25px;
        font-weight: 700;
    }

    .sec_4_tit > h2{
        font-size: 15px;
        font-weight: 500;
    }

    .sec_4_con_wrap{
        padding: 30px 100px;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 40px;
    }

    .sec_4_con_wrap > .sec_4_con:nth-child(n+5){
        display: none;
    }

     .sec_4_more_btn{
        display: block;
        width: 280px;
        height: 38px;
        border: 1px solid black;
        font-family: 'Lato';
        font-weight: 500;
        font-size: 16px;
        border-radius: 5px;
        text-align: center;
        line-height: 33px;
        margin: 0 auto 30px;
    }

    .sec_6_tit > h1{
        font-size: 25px;
    }

    .sec_6_tit > h2{
        font-size: 15px;
    }
}

@media screen and (max-width:800px) {
    .sec_6 .swiper-slide{
        width: 260px;
        flex: 0 0 260px; 
    }
}

@media screen and (max-width:850px) {
    .footer_inner{
        padding: 0 20px;
        white-space: normal;
        text-align: center;
    }

    .top_info{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .top_info h3{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .top_info li{
        font-size: 14px;
        line-height: 1.6;
    }

    .link{
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .link a{
        font-size: 14px;
    }

    .link a::after{
        padding-left: 8px;
        padding-right: 8px;
    }

    .copyright{
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
        padding: 0 10px;
        line-height: 1.4;
    }
}

@media screen and (max-width:768px) {

    .mySwiper_sec_2 .swiper-slide > a img{
        width: 60%;
        margin-bottom: 20px;
    }

    .sec_3_more_btn{
        display: none;
    }

    .mySwiper_sec_3 .swiper-slide:nth-child(n+5){
        display: block;
    }

       .sec_3 .mySwiper_sec_3{
        padding: 30px 16px;
    }

    .sec_3 .mySwiper_sec_3 .swiper-wrapper{
        display: flex;
        padding: 0;
        gap: 0;
    }

    .mySwiper_sec_3 .swiper-slide{
         width: 340px !important;
    }

    .mySwiper_sec_3 .swiper-slide img{
         width: 100%;   
         height: auto;  
    }

    .sec_5{
        display: none;
    }

    .sec_5_t{
        display: block;
        padding: 13vw 6.5vw;
    }

    .sec_5_t > h1{
        text-align: center;
        font-family: 'NanumGothic';
        font-weight: 700;
    }

    .sec_5_t > a{
    display: flex;                 /* 핵심 */
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;

    width: 154px;
    height: 30px;
    margin: 20px auto 30px;

    border-radius: 50px;
    font-family: 'NanumGothic';
    font-weight: 500;
    font-size: 14px;

    line-height: normal;           /* line-height 트릭 제거 */
}

    .sec_5_t_bn{
        display: grid;
        grid-template-columns: repeat(2, 42.5vw);
        grid-template-rows: repeat(2, 42.5vw); 
        gap: 10px;
        justify-content: center;
    }

    .sec_5_t_bn .con > img{
        width: 100%;
        height: auto;
    }

    .sec_5_t_bn > .con{
         position: relative;
    }
    
    .sec_5_t_bn .con > p{
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 3.7vw;
        font-weight: 800;
        font-family: 'Lato';
        left: 1.9vw;
        bottom: 2.6vw;
    }
}

@media screen and (max-width:700px) {
    .sec_4_con_wrap{
        padding: 30px 16px;          
        display: grid;
        grid-template-columns: repeat(2 , 1fr);   
        gap: 13px;
    }

    .sec_4_con > img{
        margin: 0 auto;          
    }
}

@media screen and (max-width:600px) {
    .sec_1_t{
        display: none;
    }
    
    .sec_1_large_m{
        display: block;
    }
    
    .mySwiper_sec_2 .swiper-slide > a img{
        width: 60%;
        min-width: 48px;
        margin-bottom: 10px;
    }

    .mySwiper_sec_2 .swiper-slide > a{
        font-size: 12px;
    }

    .sec_3_con_wrap{
        padding: 20px 20px;
    }

    .sec_5_t > a{
        font-size: 14px;
    }
}

@media screen and (max-width:410px) {
    .link a:last-child::after{
        display: none;
    }
       
}


@media screen and (max-width:376px) {
   .sec_1_m{
    display: block;
   }

   .sec_1_large_m{
    display: none;
   }

    .mySwiper_sec_2{
        padding: 59px 16px;
    }

    .mySwiper_sec_2 .swiper-slide > a img{
        width: 75%;
        margin-bottom: 10px;
    }

    .mySwiper_sec_2 .swiper-slide > a{
        font-size: 12px;
    }

    .sec_3_con_wrap{
        padding: 20px 16px;
        display: flex;
        overflow-x: auto;
    }

    .sec_3_con > img{
        width: 300px;
        height: 260px;
    }

    .sec_3_tit > h1{
       margin-top: 20px;
       font-size: 24px;
       font-weight: 700;
    }

    .sec_3_tit > h2{
       margin-top: 5px;
       font-size: 16px;
       font-weight: 500;
    }

    .sec_3_con > p:nth-child(3){
       margin-top: 7px;
    }

    .sec_4_tit > h1{
       margin-top: 20px;
       font-size: 24px;
       font-weight: 700;
    }

    .sec_4_tit > h2{
       margin-top: 5px;
       font-size: 16px;
       font-weight: 500;
    }

    .sec_4_more_btn{
        display: block;
        width: 240px;
        height: 33px;
        border: 1px solid black;
        font-family: 'Lato';
        font-weight: 500;
        font-size: 14px;
        border-radius: 5px;
        text-align: center;
        line-height: 33px;
        margin: 0 auto 30px;
    }

    .sec_5_t{
        padding: 100px 16px;
    }

    .sec_5_t > h1{
        font-size: 24px;
    }

   .sec_5_t_bn{
        grid-template-columns: repeat(2, 45vw);
        grid-template-rows: repeat(2, 45vw); 
        gap: 3px;
    }

    .sec_5_t_bn .con > p{
        font-size: 14px;
    }

    .sec_6_tit > h1{
        font-size: 24px;
    }

    .sec_6_tit > h2{
        font-size: 16px;
    }

     .sec_6 .swiper-slide > p:nth-child(2){
        font-size: 14px;
    }

    .sec_6 .swiper-slide > a:nth-child(4){
        font-size: 16px;
    }

    .sec_6 .swiper-slide > p:nth-child(5){
        font-size: 12px;
    }

     .sec_6 .swiper-slide{
        width: 230px;
        flex: 0 0 230px; 
    }
    
    .footer_line,
    .footer_line_2{
        display: block;
        border: none;
        height: 1px;
        background-color: #C8C8C8;
    }

    .sns{
        display: flex;
        justify-content: center;  
        align-items: center;
        gap: 10px;
        margin: 20px auto 20px auto;
    }

    .sns img{
        width: 25px;
        height: 25px;
    }

    .sns a:nth-child(1):hover img,
    .sns a:nth-child(2):hover img,
    .sns a:nth-child(3):hover img{
       opacity: 0;
    }

    .sns a:nth-child(1):hover {
        background-image: url("../img/sns_hover_1.png");
        background-size: 25px 25px;  
        background-position: center;
        background-repeat: no-repeat;
    }

    .sns a:nth-child(2):hover {
        background-image: url("../img/sns_hover_2.png");
        background-size: 25px 25px;  
        background-position: center;
        background-repeat: no-repeat;
    }

    .sns a:nth-child(3):hover {
        background-image: url("../img/sns_hover_3.png");
        background-size: 30px 30px;  
        background-position: center;
        background-repeat: no-repeat;
    }

}

